header {
    font-family: Arial, sans-serif;
    background-color: #780000;
}

* {
    margin: 0;
}

h1 {
    padding: 5px;
    text-align: center;
}

body {
    margin: 0;
}

nav ul{
    display: flex;
    justify-content: center;
    background-color: #FDF0D5;
    padding: 5px;
}

li {
    list-style-type: none;
    margin-right: 15px;
}
