* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Arial, sans-serif;
    background-color: #780000;
}

p {
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
}

h1 {
    padding: 5px;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
    background-color: #FDF0D5;
    padding: 5px;
}

li {
    list-style-type: none;
    margin-right: 15px;
}

footer {
    text-align: center;
    background-color: #669BBC;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
 }

 li .social-links {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
}